<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roo.mine">

    <application>
        <activity
            android:name=".mvp.ui.activity.AddressBookEditActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AddressBookActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LanguageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LegalCurrencyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MineActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.NoticeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="zendesk.support.guide.HelpCenterActivity"
            android:theme="@style/ZendeskLightTheme" />
        <activity
            android:name="zendesk.support.guide.ViewArticleActivity"
            android:theme="@style/ZendeskLightTheme" />
        <activity
            android:name="zendesk.support.request.RequestActivity"
            android:theme="@style/ZendeskLightTheme" />
        <activity
            android:name="zendesk.support.requestlist.RequestListActivity"
            android:theme="@style/ZendeskLightTheme" />
        <activity
            android:name=".mvp.ui.activity.AboutUsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.InviteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.InviteAwardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.NoticeDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>
